<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform stdoutLogEnabled="false" stdoutLogFile="out.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\WebAPI.exe"
                  arguments="%HTTP_PLATFORM_PORT%">
            <environmentVariables>
              <environmentVariable name="WhateverYouLike" value="GoesHere"/> 
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>