<div>
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>Description</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ticket of tickets">
				<td>{{ticket.Description}}</td>
				<td>{{ticket.Price}}</td>
				<td>{{ticket.Quantity}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div>
	<form class="form-inline" (ngSubmit)="addTicket()">
		<div class="form-group">
	    	<label for="description">Description</label>
		    <input type="text" class="form-control" id="description" placeholder="Description" name="description" [(ngModel)]="newTicket.Description">
	  	</div>
	  	<div class="form-group">
		    <label for="Price">Price</label>
		    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="newTicket.Price">
	  	</div>
	  	<div class="form-group">
		    <label for="Price">Quantity</label>
		    <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="newTicket.Quantity">
	  	</div>
  		<button type="submit" class="btn btn-default">Add</button>
	</form>
</div>